.center {
    display: block;
    margin-left: 42%;
    margin-right: auto;
    margin-top: 2%;
  }
  h1{
    display: block;
    position:fixed;
    top: 6.5%;
    left: 42.5%;
  }

  hr{
    width: 30%;
  }

  body{
    background-color: #0c0c0c; /* Used if the image is unavailable */
}
